html, body {
  min-height: 100%;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: black;
}
header {
  background-color: skyblue;
  border-bottom-right-radius: 46px;
  padding: 5px;
}
footer {
 background-color: #47948a;
 border-top-left-radius: 46px;
 padding: 10px;
 position: absolute;
 bottom: 0;
 height: 10px;
 width: 100%;
}
.logo {
  max-width: 35%;

}
.middle {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer_link {
  text-align: right;
  padding-inline-end: 20px;
  text-decoration:none;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
